*{
    margin: 0;
    padding: 0;
    border: 0;
    
}
html{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(87, 87, 87);
}

.contenedor{
    
    width: 30%;
    text-align: center;
    background-color: rgb(56, 87, 155);
    flex-direction: column;
    padding: 2% 2% 2% 2%;
    margin-left: 15%;
    border-radius: 10px;    
}

h1, h3, p{
    color: white;
    font-weight: bold;
}

.grafica{
    width: 40%;
    margin-top: 10%;
    margin-left: 5%;
    background-color: rgb(52, 54, 63);
    border-radius: 1%;
    text-align: center;
}
.supercontenedor{
    display: flex;
}